#landing {
	background-image: url(https://raw.githubusercontent.com/ssa-academy/frontend-developer-assessment/dda1752e2f7a44a346d44070c8e47149355db78c/assets/bg-leaves.svg);
	background-size: 100% 30%;
	background-repeat: no-repeat;
	background-position: right top;
}


#navbar-brand {
	color: #02010A;
	font-size: 1.5rem;
	padding-left: 10vh;
}


#intro1 {
	text-align: left;
	padding-left: 15vh;
	padding-top: 10vh;
	font-weight: normal ;
}

#intro1h1 {
	font-size: 3.5rem;
}

#intro1p {
	font-size: 1.5rem;
}

#gtbutton {
	font-size: 1.35rem;
	background-color: #3C26EC;
}



#logos {
	background-image: url(https://raw.githubusercontent.com/ssa-academy/frontend-developer-assessment/dda1752e2f7a44a346d44070c8e47149355db78c/assets/bg-decals.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 20vh;
}



#meetprotoapp {
	padding-top: 8vh;
	font-size: 3rem;
	font-weight: bold;
}
#mpp {
	font-size: 1.2rem;
	padding-left: 33vh;
	padding-right: 33vh;
}





#Dsearch {
	padding-bottom: 20vh;
}
#discover {
	padding-top: 20vh;
}
#discoverh {
	font-weight: bold;
	font-size: 2.2rem;
}
#discoverp {
	font-size: 1.05rem;
	margin-left: 50vh;
}
#search {
	padding-top: 20vh;
}







#augmented {
	padding-bottom: 20vh;
}
#augmentedh {
	font-weight: bold;
	font-size: 2.2rem;
}
#augmentedp {
	margin-right: 10vh;
	font-size: 1.05rem;
}






